# Config
GOTHIC_SERVICE=example.env
GOTHIC_SITE_URL=http://example.com.env
GOTHIC_SITE_LOGO=http://example.com/logo.png.env

# Network
GOTHIC_HOST=example.com.env
GOTHIC_REST=example.com.env:80
GOTHIC_RPC=example.com.env:90
GOTHIC_RPCWEB=example.com.env:100
GOTHIC_HEALTH=example.com.env:110

# Database
GOTHIC_DB_NAMESPACE=foo.env
GOTHIC_DB_DRIVER=mysql
GOTHIC_DB_DSN="root@tcp(0.0.0.0:3306)/test?parseTime=true&foo=a.env"
GOTHIC_DB_MAX_RETRIES=99
GOTHIC_DB_AUTOMIGRATE=true

GOTHIC_MAIL_NAME="FooBar Co.env"
GOTHIC_MAIL_LINK=http://mail.example.com.env
GOTHIC_MAIL_LOGO=http://mail.example.com/logo.png.env
GOTHIC_MAIL_FROM="foo <foo@example.com.env>"
GOTHIC_MAIL_THEME=flat.env

# Mail SMTP
GOTHIC_MAIL_HOST=smtp.example.com.env
GOTHIC_MAIL_PORT=25
GOTHIC_MAIL_USERNAME=peaches.env
GOTHIC_MAIL_PASSWORD=secret-password!.env
GOTHIC_MAIL_AUTHENTICATION=cram-md5.env
GOTHIC_MAIL_ENCRYPTION=tls.env
GOTHIC_MAIL_KEEPALIVE=false
GOTHIC_MAIL_EXPIRATION=100m0s
GOTHIC_MAIL_SEND_LIMIT=100m0s
GOTHIC_MAIL_SPAM_PROTECTION=false

# Mail Templates
GOTHIC_MAIL_LAYOUT=./templates/mail.tmpl.env

GOTHIC_MAIL_CHANGE_EMAIL_LINK_FORMAT=/:action/:token/link.env
GOTHIC_MAIL_CHANGE_EMAIL_SUBJECT="Email Subject.env"
GOTHIC_MAIL_CHANGE_EMAIL_TEMPLATE=./templates/mail.tmpl.env
GOTHIC_MAIL_CHANGE_EMAIL_REFERRAL_URL=http://referral.example.com.env

GOTHIC_MAIL_CONFIRM_USER_LINK_FORMAT=/:action/:token/link.env
GOTHIC_MAIL_CONFIRM_USER_SUBJECT="Email Subject.env"
GOTHIC_MAIL_CONFIRM_USER_TEMPLATE=./templates/mail.tmpl.env
GOTHIC_MAIL_CONFIRM_USER_REFERRAL_URL=http://referral.example.com.env

GOTHIC_MAIL_INVITE_USER_LINK_FORMAT=/:action/:token/link.env
GOTHIC_MAIL_INVITE_USER_SUBJECT="Email Subject.env"
GOTHIC_MAIL_INVITE_USER_TEMPLATE=./templates/mail.tmpl.env
GOTHIC_MAIL_INVITE_USER_REFERRAL_URL=http://referral.example.com.env

GOTHIC_MAIL_RESET_PASSWORD_LINK_FORMAT=/:action/:token/link.env
GOTHIC_MAIL_RESET_PASSWORD_SUBJECT="Email Subject.env"
GOTHIC_MAIL_RESET_PASSWORD_TEMPLATE=./templates/mail.tmpl.env
GOTHIC_MAIL_RESET_PASSWORD_REFERRAL_URL=http://referral.example.com.env

GOTHIC_MAIL_SIGNUPCODE_LINK_FORMAT=/:action/:token/link.env
GOTHIC_MAIL_SIGNUPCODE_SUBJECT="Email Subject.env"
GOTHIC_MAIL_SIGNUPCODE_TEMPLATE=./templates/mail.tmpl.env
GOTHIC_MAIL_SIGNUPCODE_REFERRAL_URL=http://referral.example.com.env

# Security
GOTHIC_MASK_EMAILS=false
GOTHIC_RATE_LIMIT=100m0s
GOTHIC_REQUEST_ID=foobar.env
GOTHIC_JWT_SECRET=i-am-a-secret.env
GOTHIC_JWT_ALGORITHM="HS384.env"
GOTHIC_JWT_ISSUER=foo.env
GOTHIC_JWT_AUDIENCE=bar.env
GOTHIC_JWT_EXPIRATION=100m0s
GOTHIC_RECAPTCHA_KEY=RECAPTCHA-KEY.env
GOTHIC_RECAPTCHA_LOGIN=false
GOTHIC_VALIDATION_USERNAME_REGEX="[A-Za-z]{3}[0-9][A-Z]{2}[!@#$%^&*].env"
GOTHIC_VALIDATION_PASSWORD_REGEX="FOO[A-Z]{10}[0-9]{2}.env"
GOTHIC_COOKIES_DURATION=100m0s

# Signup
GOTHIC_SIGNUP_DISABLED=true
GOTHIC_SIGNUP_AUTOCONFIRM=true
GOTHIC_SIGNUP_CODE=true
GOTHIC_SIGNUP_INVITES=user
GOTHIC_SIGNUP_USERNAME=false
GOTHIC_SIGNUP_DEFAULT_USERNAME=false
GOTHIC_SIGNUP_DEFAULT_COLOR=false

# Provider
GOTHIC_PROVIDER_INTERNAL=false
GOTHIC_PROVIDER_REDIRECT_URL=http://example.com/redirect.env

GOTHIC_PROVIDER_GOOGLE_CLIENT_KEY=foo.env
GOTHIC_PROVIDER_GOOGLE_SECRET="i-am-a-secret.env"
GOTHIC_PROVIDER_GOOGLE_CALLBACK_URL=http://example.com/callback.env
GOTHIC_PROVIDER_GOOGLE_SCOPES=login,confirmed

GOTHIC_PROVIDER_GITLAB_CLIENT_KEY=foo.env
GOTHIC_PROVIDER_GITLAB_SECRET="i-am-a-secret.env"
GOTHIC_PROVIDER_GITLAB_CALLBACK_URL=http://example.com/callback.env
GOTHIC_PROVIDER_GITLAB_SCOPES=login,confirmed

# Webhook
GOTHIC_WEBHOOK_URL=http://webhook.example.com/hook.env
GOTHIC_WEBHOOK_SECRET=i-am-a-webhook-secret.env
GOTHIC_WEBHOOK_EVENTS=login,confirmed
GOTHIC_WEBHOOK_MAX_RETRIES=99
GOTHIC_WEBHOOK_TIMEOUT=100m0s

# Logger
GOTHIC_LOG_LEVEL=debug.env
GOTHIC_LOG_FILE="./logs/debug.log.env"
GOTHIC_LOG_COLORS=false
GOTHIC_LOG_TIMESTAMP="Mon, 02 Jan 2006 15:04:05 -0700.env"
GOTHIC_LOG_FIELDS=source=peaches.env,priority=1.env

# Tracer
GOTHIC_LOG_TRACER_ENABLED=true
GOTHIC_LOG_TRACER_ADDRESS=example.com:9000.env
GOTHIC_LOG_TRACER_TAGS=tag1=foo.env,tag2=bar.env
